/* @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

body{
    background-color: #4D594A;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    margin-left: 10%;
    margin-right: 10%;
   
}

h1{
    /* background-color: aquamarine; */
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 20px; */
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: white;
    display: flex;
    justify-content: center;
}

p{
    /* background-color: chocolate; */
    font-family: 'Montserrat', sans-serif;
    /* font-weight: lighter; */
    color: #EBEBEB;
    font-size: 20px;
    display: flex;
    margin-left: 8%;
    margin-right: 8%;
    /* max-width: 80%; */
    justify-content: center;
    text-align: center;
    

}

#header{
    background-color: #39362D;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

 
#brand_home{
    /* background-color: aquamarine;
    font-family: 'Gamja Flower', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Indie Flower', cursive; */
    font-family: 'Gochi Hand', cursive;
    font-size: 26px;
    color: #EFBDD5;
    margin-left: 10px;
    margin-bottom: 6px;
}

#brand_link{
    /* background-color: aqua;
       font-family: 'Gamja Flower', cursive;
       font-family: 'Pacifico', cursive;
       font-family: 'Indie Flower', cursive; */
    font-family: 'Gochi Hand', cursive;
    font-size: 20px;
    color: #EFBDD5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin-left: 5px;
    margin-bottom: 2px;

}

#brand_link a{
    text-decoration: none;
}

#sitenav{
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-around;
    align-content: flex-end;
    align-items: center;
    margin-left: auto;
    width: 180px;
    height: 30px;
    margin-right: 5px;
}

#sitenav a{
    color: white;
    text-decoration: none;
}

#image{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    /* flex-basis: 300px; */
}

#image img{
    object-fit: cover;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    /* border-style: solid; */
    /* border-width: 2px;
    border-color: #35422C; */
}



#txtblock{
    /* background-color: aquamarine; */
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: space-around;
    /* text-align: left; */
}

#links{
    background-color: #35422C;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 30px;
    margin-top: 100px;
}

#links a{
    /* color: white; */
    text-decoration: none;
}

#imagerow_container{
    /* background-color: brown; */
    display: flex;
    height: auto;
    width: fit-content;
}


#imagerow{
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* align-content: space-evenly; */
    height: auto;
    gap: 50px;
    margin-left: -40px;

    /* had lots of issues lining this up. Not ideal but managed to get it looking ok with margin left. 
    I don't yet understand why what was happening, was happening, but due to time constraints had to use the margin hack */
}

#imagerow li{
/* background-color: #FBB6C4; */
flex-basis: 260px;
list-style-type: none;
}

#imagerow li img{
object-fit: contain;
max-width: 100%;
max-height: 533px;
/* height: auto; */
/* vertical-align: middle; */
/* border-style: solid;
border-width: 2px;
border-color: #35422C; */
}

#imgdesc{
color: white;
display: flex;
justify-content: center;
margin: 5px;
}

#price{
    color: white;
    display: flex;
    justify-content: center;
    margin: -20px;
    }

#divider{
    display: flex;
    flex-direction: row;
    content: "";
    border: 1px solid #35422C;
    align-self: stretch;
}


